.Menu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 5vh;
    color: white;
}

.MenuItem {
    display: inline-block;
    width: 33.33%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 1vh 0;
    margin: 0;
    transition: all 0.2s ease-out;
    text-align: center;
}

.MenuItem:hover {
    background-color: #ffd800;
    cursor: pointer;
}

.MenuItem path {
    fill: rgba(255, 255, 255, 0.75);
}

.MenuItem:hover path {
    fill: rgb(98, 15, 141);
}

@media screen and (max-height: 450px) {
    .Menu {
      height: 10vh;
    }
    .MenuItem {
        padding: 2vh 0;
    }
  }