.Menu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 5%;
    color: white;
}

.MenuItem {
    display: inline-block;
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1% 0;
    margin: 0;
    transition: all 0.2s ease-out;
    text-align: center;
}

.MenuItem:hover {
    background-color: #ffd800;
    cursor: pointer;
}

.MenuItem path {
    fill: rgba(255, 255, 255, 0.5);
}

.MenuItem:hover path {
    fill: rgb(98, 15, 141);
}