.FirstQuestion {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    width: 50%;
    left: 25%;
    top: 25%;
    background-color: rgb(255, 255, 255, 0.25);
    transition: 0.3s;
}

h1 {
    grid-column: 1 / 3;
    font-size: 1.3rem;
}

.container {
    display: inline;
    position: relative;
    cursor: pointer;
    font-size: 1.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.3s;
    padding: 32px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    padding: 0;
    margin: 0;
}

/* On mouse-over, add a grey background color */
.container:hover {
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    /* background-color: #2196F3; */
    color: crimson;
}