.Theme {
    position: absolute;
    width: 100%;
    height: 93vh;
    top: 7vh;
    left: 0;
    transition: all 0.2s ease-out;
}

.Theme h2 {
    margin: 0;
    color: white;
    padding: 12px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
}

.Theme ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;;
}

.Theme li {
    height: 33.333%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

/* .Theme li:hover {
    opacity: 0.9;
    background-blend-mode: overlay;
} */

.Theme li:hover h2 {
    font-size: 2em;
    padding: 24px;
}

.Sunset {
    background: url(../../assets/images/sunset.svg) no-repeat 50% 75%;
    background-size: cover;
    background-color: rgb(255, 175, 27);
}

.Balloon {
    background: url(../../assets/images/sky.jpg) no-repeat 50% 75%;
    background-color: rgb(149, 230, 217);
    background-size: cover;
}

.Basic {
    background: black;
}

.Basic h2 {
    background-color: white;
    color: black;
}