.BugReport {
    width: 80%;
    border: 1px solid #ccc;
    padding: 3vh;
    margin: 3vh auto;
    box-sizing: border-box;
    color: rgb(106, 106, 106);
    transition: 0.2s;
}

.BugReport:hover {
    color: black;
    background-color: white;
    border: 1px solid white;
}

.BugReport p {
    margin: 0 0 1vh 0;
    padding: 0;
}