.Times {
    position: absolute;
    width: 100%;
    height: 93vh;
    top: 7vh;
    left: 0;
    transition: all 0.2s ease-out;
    /* background-color: #ffd800; */
}

.Times ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-color: rgb(98, 15, 141); */
}

.Times li {
    height: 33.333%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    background-color: #620f8d;
    cursor: pointer;
    color: #ffd800;
    overflow: hidden;
}

.Times svg {
    transform: scale(0.10);
}

.Times path {
    fill: #ffd800;
}

.Times li:hover {
    background-color: #ffd800;
}

.Times li:hover :nth-child(1) {
    fill: #620f8d;
    transform: scale(0.5);
    transform-origin: center;
}

@media screen and (max-height: 450px) {
    .Times {
        height: 86vh;
        top: 14vh;
    }
}