button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 32px;
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    line-height: 1.4rem;
}

button:hover {
    color: white;
}